@font-face {
  font-family: 'Source Serif Pro';
  src: url(./assets/fonts/SourceSerifPro-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url(./assets/fonts/SourceSerifPro-Bold.ttf);
  font-weight: 700;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --brand: #A54328;
  --brand-hover: #92381f;
}

body {
  color: var(--brand);
  font-family: 'Source Serif Pro';
  font-size: 1.6rem;
  height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;

  margin-inline: auto;
  max-width: 32rem;
  box-sizing: content-box;

  padding: 5.6rem 4rem;
}

h1, h2 {
  font-size: clamp(2.8rem, 2.5vw + 1rem, 4rem);
}

img {
  max-width: 100%;
  margin-block: 3.2rem;
}

p, li, strong {
  font-size: clamp(1.4rem, 1vw + 1rem, 2rem);
}

li {
  margin-left: 2.2rem;
}

ul, ol {
  margin-top: 3.2rem;
}

button {
  background: var(--brand);
  border: 0;
  border-radius: 0.8rem;
  color: white;

  font-family: 'Source Serif 4', serif;
  font-size: clamp(1rem, 1vw + 0.5rem, 1.4rem);
  line-height: 1.7rem;

  margin-top: 2.4rem;
  padding: 0.8rem 1.2rem;

  transition: background 0.2s;
  cursor: pointer;
}

button:hover {
  background: var(--brand-hover);
}

@media (min-width: 1100px) {
  body {
    background: url('./assets/background.jpg') no-repeat center/cover;
  }

  main {
    flex-direction: row;
    gap: 18.9rem;

    max-width: 1150px;
    padding: 8rem;
  }

  main > section:first-child {
    max-width: 43.5rem;
  }

  button {
    padding: 1rem 1.8rem;
  }
}